.header-img-ctn {
  display: block;
  height: 720px;
  width: 1440px;
}
.header-img {
  width: 100%;
  height: 100%;
}
.ftr-glasses-ctn {
  margin-left: 336px;
  margin-top: 63px;
  margin-bottom: 63px;
  width: 768px;
  height: 180px;
}
.cta-glasses {
  margin-top: 25px;
  margin-left: 33px;
  display: block;
  object-fit: contain;
  width: 317px;
  height: 108px;
}
.product-cta {
  float: left;
  display: block;
  height: 180px;
  width: 384px;
}
.cta-sunglasses {
  margin-top: 25px;
  margin-left: 33px;
  display: block;
  object-fit: contain;
  width: 317px;
  height: 108px;
}
.cta-descrp {
  margin-left: 145px;
  color: #414b56;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Raleway";
  font-weight: 300;
  font-style: bold;
}
.new-cta-ctn {
  display: block;
  height: 720px;
  width: 1440px;
  margin-bottom: 84px;
}
.new-cta-img {
  width: 100%;
  height: 100%;
}
.visit-cta-ctn {
  padding-left: 60px;
  padding-right: 60px;
  margin: auto;
  display: block;
  height: 660px;
  width: 1400px;
}
.store-img-ctn {
  background-color: #fafafa;
  height: 575.98px;
  width: 864px;
}
.store-img {
  height: 100%;
  width: 100%;
  display: block;
}
.tryon-cta-ctn {
  display: block;
  height: 720px;
  width: 1440px;
}
.tryon-img {
  width: 100%;
  height: 100%;
}
.spacer {
  height: 87px;
  width: 190px;
}
.veryAiry-cta-ctn {
  display: block;
  height: 723.38px;
  width: 1440px;
}
.veryAiry-img {
  height: 100%;
  width: 100%;
  display: block;
}
.charity-cta-ctn {
  padding-left: 60px;
  padding-right: 60px;
  width: 1320px;
  height: 376px;
}
.charity-img {
  width: 605px;
  margin-left: 390px;

}
